<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% top.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <td><%= round(element.average_rating) %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>